<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943152405737-jheatv57d64h92jk6hlugo81ivhpqhq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943152405737-jheatv57d64h92jk6hlugo81ivhpqhq2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>943152405737-4igp2ltm5gqsco0stb3r06e52v12sha0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string></string>
	<key>GCM_SENDER_ID</key>
	<string>943152405737</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rideShare</string>
	<key>PROJECT_ID</key>
	<string>school-carpool-csp1</string>
	<key>STORAGE_BUCKET</key>
	<string>school-carpool-csp1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943152405737:ios:f1b1f4fc2facef5bdce478</string>
	<key>DATABASE_URL</key>
	<string>https://school-carpool-csp1-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>